[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
